import(GenomicFeatures)
import(TxDb.Hsapiens.UCSC.hg19.knownGene)
import(annotate)
import(DESeq2)
import(Homo.sapiens)
import(plyr)
import(rtracklayer)
import(corrplot)
import(sva)
import(doMC)
import(VennDiagram)
import(org.Hs.eg.db)
import(SummarizedExperiment)
import(biomaRt)

export(AdjustBatch)
export(CheckBatch)

importFrom(tools,file_ext,file_path_sans_ext)


export(AdjustBatch)
export(CheckBatch)
export(Compare2Pos)

export(DEAnalysisAdjustByBatch)
export(FilterTranscripts)
export(InstallRequiredPackage)
export(Loadlibrary)
export(MatchTxs2Gene.R)
export(NormalizedCount)
export(ProcessOutputFilesFrom3UTR)
export(ProcessOutputFilesFrom3UTR_recount)
export(ProcessOutputFilesFrom5Cases)
export(ProcessOutputFilesFromDoGsOnly)
export(ProcessTranscript2)
export(ReadGeneList)
export(ReformatTxsGene)
export(TestUseLongestTxsOfGene)
export(convert.z.score)
export(norm_factors)
export(parserreadfiles)
export(convertbam2bed)

export(parserreadfiles)
export(convertbam2bed)
export(matchbed2annotation)
export(getcountsfromMatchedbed)
export(getcounts)
export(parserAnnotationFile)
